@{
    ViewData["Title"] = "Home";
}

<div style="margin: 40px">
    <h1 class="text-center text-primary">Welcome to <strong>Timeap!</strong></h1>
    <h4 class="text-center">Timeap was created by engineers. We are entrepreneurs, all passionate about growing our exclusive network of the top freelance software developers, designers, finance experts, and project managers in the world.</h4>
</div>
<br />
<div class="row">
    <div class="col-lg-2 col-lg-offset-5">
        <a class="btn btn-primary btn-lg btn-block btn-huge" asp-area="Identity" asp-page="/Account/Login">Join us</a>
    </div>
</div>
